.seeProductFilledBtn {
    font-family: Manrope;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: left;
    background-color: var(--brown);
    color: var(--white);
    padding: 15px 30px;
    transition: all ease 500ms;
  }
  .seeProductFilledBtn:hover {
    background-color: var(--light-brown);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .seeProductBtn {
    font-family: Manrope;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: left;
    background-color: transparent;
    color: var(--black);
    padding: 15px 30px;
    border: 1px solid #000000;
    transition: all ease 500ms;
  }
  .seeProductBtn:hover {
    background-color: var(--black);
    color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .shopBtn {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: Manrope;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: left;
    opacity: 50%;
    color: var(--black);
    transition: all ease 500ms;
    z-index: 1;
  }
  .shopBtn:hover {
    color: var(--brown);
  }